@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

@font-face
{
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.ttf') format('truetype'),
         url('bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color: #3a3a3a;

}

#movemonkey {
    display: inline-block;
    opacity: 0.5;
    margin-top: 4%;
    margin-left: 40%;
    /*margin-right: 50%;*/
    text-aligne: center;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
    width: 312px;
	height: 312px;
    /*border: solid 1px white;*/
}


#welcome
{
    color: #8c8c8c;
    font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
    font-size: 7vh;
    float:left;
    position:absolute;
    transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate-90deg);
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    margin-left: -10%;
    margin-top: -10%;
    margin-bottom:auto;
}

#welcome span
{
    color: #6A5ACD;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.contactgr, #contact
{
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 300;
    font-family: 'Ubuntu';
    line-height: 1;
}

.contactgr
{
    color: #8bbcfe;
    margin-top: 5%;
}

#contact
{
    color: #ffffff;
    margin-top: 10%;
}

/* div logo */
#logo {
    margin-top: 4%;
    display: inline-block;
    margin-left: 35%;
    /*border: solid 1px white;*/
}

.title-site
{
    text-align: center;
    margin-bottom: 0px;
}

#name-title
{
    color: #8c8c8c;
    font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
}

#name-title span
{
    color: #8bbcfe;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#name-title::before
{
    color: #8c8c8c;
    content: '{';
    font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 400;
}

#name-title::after
{
    color: #8bbcfe;
    content: '}';
    font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 400;
}

.date
{
    text-align: center;
    font-size: 26px;
    margin-top: 0px;
}

#date-grey
{
    color: #8c8c8c;
    font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
}

#date-grey span
{
    color: #8bbcfe;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#description, #powered
{
    color: #8c8c8c;
    font-style: italic;
    font-weight: 300;
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

#description
{
    margin-top: 20px;
    font-size: 20px;
}

#powered
{
    margin-top: 0%;
    font-size: 17px;
}

.btn
{
  background-color: #8bbcfe;
  display: block;
  border: none;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  box-shadow : 0.15em 0.15em 0 #8c8c8c;
}
